import { FC, ReactElement } from 'react';
import s from './{{camelCase title}}.module.sass';

interface I{{properCase title}} {

};

export const {{properCase title}}: FC<I{{properCase title}}> = (): ReactElement => {
    return (
        <div className = { s.{{camelCase title}} }>
            {{camelCase title}}
        </div>
    );
};